* {
    box-sizing: border-box;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    color: rgb(25, 15, 0);
}
body {
    display: flex;
    margin: 0;
}
#app {
    display: flex;
    flex-direction: column;
}
#footer {
    align-self: end;
}
h1 {
    font-size: 40px;
    font-weight: 300;
}
h3 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
}
h1,
h3,
p {
    transition: 700ms;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
}

h1:hover,
h3:hover,
p:hover {
    letter-spacing: 0.1px;
    color: rgb(82, 1, 1);
}

#header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    z-index: 2;
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
#titles h1 {
    letter-spacing: 10px;
}
#titles p {
    font-size: 25px;
}
#titles h1,
p {
    margin: 0;
    padding: 0;
}

#homeBody {
    margin-top: 25px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#homeBody img {
    width: 50vw;
}
#homeBody p {
    align-self: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

#menuArea {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

#menuArea p {
    transition: 500ms;
    cursor: pointer;
    margin-left: auto;
    color: rgb(18, 40, 39);
    font-size: 22px;
    text-align: left;
}

#menuArea p:hover {
    letter-spacing: 1px;
    color: rgb(255, 112, 3);
    padding-right: 10px;
}

#menu {
    min-height: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 1000ms;
    overflow: hidden;
    background-color: white;
    white-space: nowrap;
}
.openMenu {
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
}
.closeMenu {
    padding-left: 0px;
    padding-right: 0px;
    width: 0vw;
}

.section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
.section h3 {
    text-align: center;
}
.sectionBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
}

.sectionBody img {
    margin: 50px;
    width: 500px;
    /* max-height: 60vh; */
    /* object-fit: contain; */
}
#massageBody {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10%;
    width: auto;
}
#massageBody img {
    /* position: absolute; */
    margin: 0px;
    width: 40vw;
}

#about {
    padding-right: 10%;
}

#bookLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 120px;
    background-color: rgb(97, 255, 165);
    transition: 1000ms;
}

#bookLink:hover {
    height: 200px;
    width: 170px;
}

#bookLink a p {
    font-size: 40px;
    font-weight: 700;
}

#overflowBody {
    display: flex;
    flex-direction: row;
}
#overflowBody div {
    position: absolute;
}
#overflowBody div p,
a {
    padding-left: 10px;
    font-size: 30px;
}
#overflowBody img {
    position: relative;
    width: 40vw;
}

#rates p {
    color: black;
}

#links p {
    color: aliceblue;
}

#footer {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30px;
    top: 100%;
    justify-self: flex-end;
}

#footer p,
a {
    font-size: 15px;
}

/* FORM */
#formPage {
    display: flex;
    margin-top: 125px;
    margin-left: 10px;
    margin-right: 10px;
}

#formPage h3 {
    padding-right: 20px;
    margin-right: 20px;
}
#privacy {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid rgb(142, 142, 142);
    padding-top: 10px;
    font-size: 15px;
    color: rgb(62, 0, 0);
}
#form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}

#form div p {
    margin-top: 20px;
    text-align: left;
}
input,
textarea {
    width: 180px;
    border: 1px solid rgb(251, 168, 95);
    border-radius: 3px;
    margin-right: 20px;
}
#form div textarea {
    width: 500px;
}

button {
    position: fixed;
    top: 125px;
    right: 20px;
    margin-top: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(255, 151, 91);
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    color: white;
    letter-spacing: 0.2px;
    background-color: rgba(255, 115, 0, 0.961);
}
#book {
    width: 100vw;
    margin-top: 150px;
    display: flex;
}

#side {
    margin-right: 20px;
    width: 140px;
    border-right: 1px solid rgb(251, 168, 95);
    padding: 20px;
}

#personalInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#personalInfo div {
    margin-left: 50px;
}
#personalInfo div input {
    width: 180px;
}
#message {
    margin-left: 50px;
    margin-top: 50px;
}
#message textarea {
    width: 90%;
    height: 300px;
}
#input button {
    margin-left: 50px;
}

#loadingBackground {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.285);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingSpinner {
    width: 80px;
    height: 80px;
    border: 5px solid orange;
    border-right: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: rotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(270deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    #homeBody img {
        margin-top: 120px;
        width: 80vw;
    }
    #homeBody p {
        font-size: 20px;
    }

    .sectionBody img {
        margin: 0;
        margin-bottom: 50px;
        width: 70vw;
        object-fit: contain;
    }

    .sectionBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #massageBody {
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    #massageBody img {
        width: 80vw;
        margin-bottom: 50px;
    }
    #about {
        padding-right: 10px;
        padding-left: 10px;
    }
    #overflowBody img {
        width: 70vw;
        margin-bottom: 50px;
    }
    #rates {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 50px;
    }
    #contacts div img {
        width: 80vw;
    }

    #links {
        margin-right: 40px;
    }

    #titles p {
        font-size: 15px;
    }

    #menuArea {
        margin-top: 7px;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        max-width: 100vw;
    }

    #menuArea #label {
        margin-bottom: 5px;
    }

    #menuArea p {
        padding-top: 5px;
        font-size: 15px;
        white-space: normal;
    }

    #menu {
        flex-direction: row;
        position: static;
        margin: 0;
        max-width: 100%;
        border-bottom: 1px solid black;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 11px;
    }

    #formPage {
        width: 95%;
        margin-left: 0;
    }

    #form div {
        padding-bottom: 20px;
        border-bottom: 1px dashed rgb(251, 168, 95);
        width: 100%;
    }
    #form div textarea {
        width: 200px;
        height: 300px;
    }

    #side p {
        font-size: 17px;
    }

    #personalInfo {
        flex-direction: column;
        width: 100%;
    }
    #personalInfo div {
        margin-top: 25px;
        margin-left: 0px;
    }

    #input #message {
        margin-left: 0px;
    }
    #input {
        width: 90%;
        padding-left: 20px;
    }
}
